# Hugo default output directory
/public
public.tar.gz

.hugo_build.lock

resources/_gen/
# themes/anatole/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.tmp
*.bak
*.swp
*.swo
*.old
*.orig
node_modules/
dist/
.cache/
.env
.env.local
.env.*.local